* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-size: 62.5%;
scroll-behavior: smooth;

}
body {
 font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-weight: 400;
}
::selection {
  background: #ff511a; /* background when text is selected */
  color: #ffffff;
}
.container {
  max-width: 120rem;
  padding: 0 3rem;
  margin: 0 auto;
}
.container-full {
  width: 100%;
  padding: 0 3rem;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}