/* *********** */
/* HERO SECTION */
/* *********** */
#hero{
    height: 650px;
    background-image: url(/images/slider-image3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
}
.navigation{
    padding: 2.6rem 0;
}
.nav-bar{
      display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-right: 7rem;
}
.header-logo{
    padding: 1.2rem;
}
.logo-title{
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    line-height: 2rem;
}
.logo-title span{
color: #ce3232;
}
.nav-links li a{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s;
}
.nav-links li a:hover{
    color: #ce3232;
}
.nav-right{
    display: flex;
   align-items: center;
}
.phone{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
      margin-right: 3rem;
      transition: all 0.3s ;
}
.phone:hover{
   color: #ce3232;
}
.reserve-btn {
    font-size: 1.4rem;
    background-color: #ce3232;
    color: #ffffff;
    border: none;
    padding: 1rem 2.2rem;
    transition: all 0.3s;
}
.reserve-btn:hover {
    background-color: #252525;
}
.caption{
      display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    height: 100%;
    cursor: e-resize;
    margin-top: 15rem;
}
.cp-12{
    padding: 0 0 0 2rem;
    width: 66.66666667%;
    padding-right: 2rem;
}
.cp-12 h3{
  font-size: 1.4rem;
  text-transform:uppercase ;
 letter-spacing: .2rem;
 line-height: 2rem;
 color: #f9f9f9;
}
.cp-12 h1{
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 5rem;
  font-size: 4.2rem;
  line-height: 5rem;
}
.caption-btn{
    color: #f9f9f9;
    background-color: #ce3232;
    border: none;
    padding: 1.4rem 3.2rem;
    font-size: 1.2rem;
    padding: 1.2rem 2.8rem;
    transition: 0.5s 0.2s;
}
.caption-btn:hover{
 color: #252525;
 background-color: #f9f9f9;
}
/* *********** */
/* ABOUT SECTION */
/* *********** */
#about{
    padding: 10rem 0rem;
}
.row{
    display: flex;
}
.col-md-50{
    width: 50%;
}
.about-info{
    padding: 0 7rem 5rem 0;
}
.about-info h4{
    color: #bfbdbd;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
    padding-bottom: 1.2rem;
}
.about-info h2 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3.8rem;
    padding-bottom: 2.6rem;
}
.about-info p {
    color: #757575;
    font-size: 1.4rem;
    padding-bottom: 1.2rem;
    line-height: 2rem;
}
.tamplete{
    color: #252525;
    transition: all 0.3s;
}
.tamplete:hover{
   color: #ce3232;
}
/* *********** */
/* TEAM SECTION */
/* *********** */
#team{
    background-color: #f9f9f9;
    padding: 10rem 0;
}
.coll-sm-12{

padding-bottom: 4rem;
text-align: center;
}
.coll-sm-12 h2{
  color: #353535;
  font-size: 3.4rem;
  line-height: 3rem;
  padding-bottom: 1.6rem;
}
.coll-sm-12 h4{
  color: #bfbdbd;
 font-family: inherit;
 text-transform: uppercase;
 font-size: 1rem;
 margin-top: 0;
}
.team-thumb{
    position: relative;
    overflow: hidden;
}
.team-thumb img{
   transition: 0.5s 0.2s;
}
.team-thumb:hover img{
   transform: scale(1.1);
}
.col-md-img{
width: 33.33333333%;
padding-right: 1.6rem;
padding-left: 1.6rem;
}
.img-hover{
    position: absolute;
    background: #1c1c1c;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s 0.2s;
}
.team-thumb:hover .img-hover{
    opacity: 0.95;
    transform: translateY(0);
    transition-delay: 0.2s;
}
.team-item{
  position: absolute;
  top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
.team-item h4{
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 4rem;
}
.social-icon{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.social-icon li a{
  color: #ffffff;
  font-size: 1.8rem;
  padding: 1.6rem;
  border-radius: 100%;
  background:#292929 ;
  transition: all 0.3s;
}
.social-icon li a:hover{
  color: #ffffff;
  background: #ce3232;
}
.team-info{
    padding: 3rem 3rem 2rem 3rem;
    text-align: center;
}
.team-info h3{
   color: #454545;
   font-size: 2.5rem;
}
.team-info p{
   color: #bfbdbd;
   font-size: 1.2rem;
   letter-spacing: 0.1rem;
   font-weight: bold;
   margin-top: 1rem;
   text-transform: uppercase;
}
/* *********** */
/* MENU SECTION */
/* *********** */
#menu{
    padding:10rem 0rem 0rem 0rem;
}
#menu .row{
    flex-wrap: wrap;
}
.menu-img{
    width: 33.333333%;
}
.menu-thumb{
    position: relative;
    overflow: hidden;
    width: 102%;
}
.img-file{
    width: 100%;
}
.menu-thumb img {
    transition: 0.5s;
}
.menu-thumb:hover img  {
    transform: scale(1.2);
}
.menu-info{
    position: absolute;
    top: 60%;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: left;
    padding: 3.5rem 4rem;
    transition: 0.5s 0.2s;
}
.menu-thumb:hover .menu-info{
    background-color: rgba(0, 0, 0, 0.8);
}
.menu-info .menu-item{
    float: left;
}
.menu-info .menu-price{
    float: right;
}
.menu-item h3{
    position: relative;
    color: #ffffff;
    font-size: 1.8rem;
    padding-bottom: 1.6rem;
    opacity: 0;
    display: block;
    transform: translate(100%);
    transition: 0.5s 0.2s;
}
.menu-thumb:hover .menu-item h3{
    opacity: 1;
  transform: translate(0px);  
}
.menu-item p{
    color: #d9d9d9;
    text-transform: uppercase;
    opacity: 0;
    display: block;
    transform: translate(100%);
    transition: 0.5s 0.2s;
}
.menu-thumb:hover .menu-item p{
    opacity: 1;
  transform: translate(0px);  
}
.menu-price span{
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    opacity: 0;
    display: block;
    transform: translate(100%);
    transition: 0.5s 0.2s;
}
.menu-thumb:hover .menu-price span{
    opacity: 1;
  transform: translate(0px);  
}
/* *********** */
/* TESTOMONIAL SECTION */
/* *********** */
#testomonial{
    background: url(../images/testimonial-bg.jpg) center center no-repeat;
    background-attachment:fixed ;
    position: relative;
    padding: 10rem 0rem;
   }
.overly {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
   z-index: 1;
}
#testomonial .container {
  position: relative;
  z-index: 2;
 
}
.test-info {
    text-align: center;
}
.testomonial-heading h2 {
    color: #ffffff;
    font-size: 2.8rem;
    margin-bottom: 3.2rem;
}

.testomonial-item p {
    padding: 0rem 12rem;
    color: #d9d9d9;
    font-size: 2rem;
    line-height: 2.6rem;
    margin-bottom: 3.2rem;
}
.testomonial-author{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #d9d9d9;
}
.testomonial-author h4{
   color: #b2b2b2;
   font-size: 1.8rem;
   margin-right: 1rem;
}
.testomonial-author span{
    font-size: 1.2rem;
}
/* *********** */
/* CONTACT SECTION */
/* *********** */
#contact{
    padding: 10rem 0;
}
.cn-10{
  padding: 0 2rem;
}
.contact-heading h2{
    font-size: 2.6rem;
    margin-bottom: 2rem;
}
.contact-left,
.contact-right {
  flex: 1;
}
.contact-heading{
    padding: 0 2rem;
}
.form{
    display: flex;
    flex-wrap: wrap;
}
.contact-input{
   flex:  0 0 50%;
    padding: 0rem 2rem;
}
.contact-input-100{
    flex:  0 0 100%;
    padding: 0rem 2rem;
}
#contact input {
    height: 5rem;
    margin-bottom: 2rem;
    padding: .5rem 1.2rem;
}
form .form-control{
    width: 100%;
    border: none;
    border-bottom: 1px solid #dddddd;
    font-size: 1.5rem;
    font-weight: normal;
    color: #555;
    padding: 6px 12px;
    box-shadow: none;
    margin-bottom: 1.4rem;
    outline: none;
    transition: all 0.3s;
}
form .form-control:hover{
   border-bottom: 1px solid #353535;
}
textarea{
    padding: 0 1rem;
    overflow: auto;
    width: 460px;
    height: 200px;
    resize: vertical;
    width: 100%;
}
.conatct-btn {
    width: 100%;
    border: none;
    background-color: #ce3232;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1.6rem 4rem;
    transition: all 0.5s;
}
.conatct-btn:hover {
    background-color: #292929;
}
/* *********** */
/* FOOTER SECTION */
/* *********** */
footer{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10rem 0;
}
.footer-main-1{
    flex: 0 0 25%;
    padding: 0 2rem;
}
.footer-main-2{
    flex: 0 0 33.33333333%;
    padding: 0 1rem;
}
.footer-main-3 {
    flex: 0 0 16.66666667%;
    padding: 0 2rem;
    margin-top: 3rem;
}
.section-title{
    padding-bottom: 1.2rem;
}
.section-title h2{
    font-size: 2rem;
    color: #353535;
    line-height: 3rem;
}
address p {
    font-size: 1.4rem;
    color: #909090;
    line-height: 3rem;
    font-weight: normal;
}
.footer-link{
    color:#909090 ;
    transition: all 0.2s;
}
.footer-link:hover{
    color:#ce3232 ;
}
.footer-shop{
    position: relative;
    background: url(../images/footer-open-hour-bg.jpg)center center no-repeat;
    background-size: cover;
    padding: 3rem 0 2rem 8rem;
    height: 23rem;
    margin-top: 1rem;
    overflow: hidden;
    z-index: 22;
    border-radius: 2rem;
}
.footer-shop::after{
    background: rgba(29,29,29,0.85);
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2222;
}
.footer-shop h2{
    color: #ffffff;
    padding-bottom: .6rem;
}
footer .shop-open p{
    color: #d9d9d9;
    font-size: 1.2rem;
    margin-bottom: 1.4rem;
}
.shop-open h3{
    color: #ffffff;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}
.footer-social li{
    display: inline-block;
}
.footer-social li a {
    border-radius: 10rem;
    color: #ce3232;
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
    display: block;
    line-height: 3rem;
    text-align: center;
    transition: all 0.3s;
}
.footer-social li a:hover {
    background-color: #ce3232;
    color: #ffffff;
}
.copyright p{
    color: #757575;
    font-size: 1.4rem;
    line-height: 3rem;
}
.copyright p a{
    color: #757575;
    transition: all 0.2s;
}
.copyright p a:hover{
    color: #ce3232;
}