/* *********** */
/* HERO SECTION */
/* *********** */
#hero{
    height: 650px;
    background-image: url(/images/slider-image3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
}
.navigation{
    padding: 2.6rem 0;
}
.nav-bar{
      display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-right: 7rem;
}
.header-logo{
    padding: 1.2rem;
}
.logo-title{
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    line-height: 2rem;
}
.logo-title span{
color: #ce3232;
}
.nav-links li a{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s;
}
.nav-links li a:hover{
    color: #ce3232;
}
.nav-right{
    display: flex;
   align-items: center;
}
.phone{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
      margin-right: 3rem;
      transition: all 0.3s ;
}
.phone:hover{
   color: #ce3232;
}
.reserve-btn {
    font-size: 1.4rem;
    background-color: #ce3232;
    color: #ffffff;
    border: none;
    padding: 1rem 2.2rem;
    transition: all 0.3s;
}
.reserve-btn:hover {
    background-color: #252525;
}
.caption{
      display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    height: 100%;
    cursor: e-resize;
    margin-top: 15rem;
}
.cp-12{
    padding: 0 0 0 2rem;
    width: 66.66666667%;
    padding-right: 2rem;
}
.cp-12 h3{
  font-size: 1.4rem;
  text-transform:uppercase ;
 letter-spacing: .2rem;
 line-height: 2rem;
 color: #f9f9f9;
}
.cp-12 h1{
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 5rem;
  font-size: 4.2rem;
  line-height: 5rem;
}
.caption-btn{
    color: #f9f9f9;
    background-color: #ce3232;
    border: none;
    padding: 1.4rem 3.2rem;
    font-size: 1.2rem;
    padding: 1.2rem 2.8rem;
    transition: 0.5s 0.2s;
}
.caption-btn:hover{
 color: #252525;
 background-color: #f9f9f9;
}
/* *********** */
/* ABOUT SECTION */
/* *********** */
#about{
    padding: 10rem 0rem;
}
.row{
    display: flex;
}
.col-md-50{
    width: 50%;
}
.about-info{
    padding: 0 7rem 5rem 0;
}
.about-info h4{
    color: #bfbdbd;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
    padding-bottom: 1.2rem;
}
.about-info h2 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3.8rem;
    padding-bottom: 2.6rem;
}
.about-info p {
    color: #757575;
    font-size: 1.4rem;
    padding-bottom: 1.2rem;
    line-height: 2rem;
}
.tamplete{
    color: #252525;
    transition: all 0.3s;
}
.tamplete:hover{
   color: #ce3232;
}
/* *********** */
/* TEAM SECTION */
/* *********** */
#team{
    background-color: #f9f9f9;
    padding: 10rem 0;
}
.coll-sm-12{

padding-bottom: 4rem;
text-align: center;
}
.coll-sm-12 h2{
  color: #353535;
  font-size: 3.4rem;
  line-height: 3rem;
  padding-bottom: 1.6rem;
}
.coll-sm-12 h4{
  color: #bfbdbd;
 font-family: inherit;
 text-transform: uppercase;
 font-size: 1rem;
 margin-top: 0;
}
.team-thumb{
    position: relative;
    overflow: hidden;
}
.team-thumb img{
   transition: 0.5s 0.2s;
}
.team-thumb:hover img{
   transform: scale(1.1);
}
.col-md-img{
width: 33.33333333%;
padding-right: 1.6rem;
padding-left: 1.6rem;
}
.img-hover{
    position: absolute;
    background: #1c1c1c;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s 0.2s;
}
.team-thumb:hover .img-hover{
    opacity: 0.95;
    transform: translateY(0);
    transition-delay: 0.2s;
}
.team-item{
  position: absolute;
  top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
.team-item h4{
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 4rem;
}
.social-icon{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.social-icon li a{
  color: #ffffff;
  font-size: 1.8rem;
  padding: 1.6rem;
  border-radius: 100%;
  background:#292929 ;
  transition: all 0.3s;
}
.social-icon li a:hover{
  color: #ffffff;
  background: #ce3232;
}
.team-info{
    padding: 3rem 3rem 2rem 3rem;
    text-align: center;
}
.team-info h3{
   color: #454545;
   font-size: 2.5rem;
}
.team-info p{
   color: #bfbdbd;
   font-size: 1.2rem;
   letter-spacing: 0.1rem;
   font-weight: bold;
   margin-top: 1rem;
   text-transform: uppercase;
}
/* *********** */
/* MENU SECTION */
/* *********** */
#menu{
    padding: 10rem 0;
}
#menu .row{
    flex-wrap: wrap;
}
.menu-img{
    width: 33.333333%;
}
.menu-thumb{
    position: relative;
    overflow: hidden;
    width: 102%;
   
}
.img-file{
    width: 100%;
}
.menu-thumb img {
    transition: 0.5s;
}
.menu-thumb:hover img  {
    transform: scale(1.2);
}
.menu-info{
    position: absolute;
    top: 60%;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: left;
    padding: 3.5rem 4rem;
    transition: 0.5s 0.2s;
}
.menu-thumb:hover .menu-info{
    background-color: rgba(0, 0, 0, 0.8);
}
.menu-info .menu-item{
    float: left;
}
.menu-info .menu-price{
    float: right;
}
.menu-item h3{
    position: relative;
    color: #ffffff;
    font-size: 1.8rem;
    padding-bottom: 1.6rem;
    opacity: 0;
    display: block;
    transform: translate(100%);
    transition: 0.5s 0.2s;
}
.menu-thumb:hover .menu-item h3{
    opacity: 1;
  transform: translate(0px);  
}
.menu-item p{
    color: #d9d9d9;
    text-transform: uppercase;
    opacity: 0;
    display: block;
    transform: translate(100%);
    transition: 0.5s 0.2s;
}
.menu-thumb:hover .menu-item p{
    opacity: 1;
  transform: translate(0px);  
}
.menu-price span{
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    opacity: 0;
    display: block;
    transform: translate(100%);
    transition: 0.5s 0.2s;
}
.menu-thumb:hover .menu-price span{
    opacity: 1;
  transform: translate(0px);  
}